LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVDS;

LOCATE COMP "io_wire_type[0]" SITE "A10";
LOCATE COMP "io_wire_type[1]" SITE "A11";
LOCATE COMP "io_wire_type[2]" SITE "A12";

LOCATE COMP "io_field_number[0]" SITE "A13";
LOCATE COMP "io_field_number[1]" SITE "A14";
LOCATE COMP "io_field_number[2]" SITE "A15";
LOCATE COMP "io_field_number[3]" SITE "A16";
LOCATE COMP "io_field_number[4]" SITE "A17";
LOCATE COMP "io_field_number[5]" SITE "A18";
LOCATE COMP "io_field_number[6]" SITE "A19";
LOCATE COMP "io_field_number[7]" SITE "A2";

LOCATE COMP "io_bytes_read[0]" SITE "A3";
LOCATE COMP "io_bytes_read[1]" SITE "A4";
LOCATE COMP "io_bytes_read[2]" SITE "A5";
LOCATE COMP "io_bytes_read[3]" SITE "A6";
LOCATE COMP "io_bytes_read[4]" SITE "A7";
LOCATE COMP "io_bytes_read[5]" SITE "A8";
LOCATE COMP "io_bytes_read[6]" SITE "A9";
LOCATE COMP "io_bytes_read[7]" SITE "B1";

LOCATE COMP "io_value_size[0]" SITE "B2";
LOCATE COMP "io_value_size[1]" SITE "B3";
LOCATE COMP "io_value_size[2]" SITE "B4";
LOCATE COMP "io_value_size[3]" SITE "B5";
LOCATE COMP "io_value_size[4]" SITE "B6";
LOCATE COMP "io_value_size[5]" SITE "B7";
LOCATE COMP "io_value_size[6]" SITE "B8";
LOCATE COMP "io_value_size[7]" SITE "B9";
LOCATE COMP "io_value_size[8]" SITE "B10";
LOCATE COMP "io_value_size[9]" SITE "B11";
LOCATE COMP "io_value_size[10]" SITE "B12";
LOCATE COMP "io_value_size[11]" SITE "B13";
LOCATE COMP "io_value_size[12]" SITE "B14";
LOCATE COMP "io_value_size[13]" SITE "B15";
LOCATE COMP "io_value_size[14]" SITE "B16";
LOCATE COMP "io_value_size[15]" SITE "B17";`


LOCATE COMP "io_input_0[0]" SITE "B18";
LOCATE COMP "io_input_0[1]" SITE "B19";
LOCATE COMP "io_input_0[2]" SITE "B20";
LOCATE COMP "io_input_0[3]" SITE "C1";
LOCATE COMP "io_input_0[4]" SITE "C2";
LOCATE COMP "io_input_0[5]" SITE "C3";
LOCATE COMP "io_input_0[6]" SITE "C4";
LOCATE COMP "io_input_0[7]" SITE "C5";

LOCATE COMP "io_input_1[0]" SITE "B18";
LOCATE COMP "io_input_1[1]" SITE "B19";
LOCATE COMP "io_input_1[2]" SITE "B20";
LOCATE COMP "io_input_1[3]" SITE "C1";
LOCATE COMP "io_input_1[4]" SITE "C2";
LOCATE COMP "io_input_1[5]" SITE "C3";
LOCATE COMP "io_input_1[6]" SITE "C4";
LOCATE COMP "io_input_1[7]" SITE "C5";

LOCATE COMP "io_input_2[0]" SITE "C6";
LOCATE COMP "io_input_2[1]" SITE "C7";
LOCATE COMP "io_input_2[2]" SITE "C8";
LOCATE COMP "io_input_2[3]" SITE "C9";
LOCATE COMP "io_input_2[4]" SITE "C10";
LOCATE COMP "io_input_2[5]" SITE "C11";
LOCATE COMP "io_input_2[6]" SITE "C12";
LOCATE COMP "io_input_2[7]" SITE "C13";

LOCATE COMP "io_input_3[0]" SITE "C14";
LOCATE COMP "io_input_3[1]" SITE "C15";
LOCATE COMP "io_input_3[2]" SITE "C16";
LOCATE COMP "io_input_3[3]" SITE "C17";
LOCATE COMP "io_input_3[4]" SITE "C18";
LOCATE COMP "io_input_3[5]" SITE "C20";
LOCATE COMP "io_input_3[6]" SITE "D1";
LOCATE COMP "io_input_3[7]" SITE "D2";
